/* https://www.w3schools.com/howto/howto_js_lightbox.asp */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.columnImg {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*background-color: #c0c0c0;*/
  
/* EA  */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(5px);
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 98%;
  
  /* EA */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  height: max-content;
}
/* EA  */
.modal-inner {
    border: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 10px;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 160px;
    background-color: rgba(255, 255, 255, .45);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(5px);
}

/* The Close Button */
.close {
  color: #c0c0c0;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 35px;
  font-weight: bold;
  z-index: 1051;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    background-color: #ddd;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "back button" to the left */
.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
/*  border-radius: 3px 0 0 3px;*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    /*  #f2f2f2 */
  color: #21a828;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -10px;
}

/* Caption text */
.caption-container {
  text-align: center;
/*  background-color: black;*/
  padding: 5px 16px;
  color: #ddd;
}

img.myImgControll {
  opacity: 0.6;
}
.eaImgBoxItem{
    display: none;
    width: auto;
    height: auto;
  
/*    justify-content: center; 
    align-items: center;*/

/*    object-fit: cover;   */
    max-width: 100%;
    max-height: 750px;

    
    /*overflow: auto;*/
}

.active,
.myImgControll:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}