<nav class="navbar navbar-expand-lg bg-light navbar-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand"  href="#!/home">
        <!--<img class="eaLogo" src="content/aleks/pictures/navLogo.gif" alt=""/>-->
        <img class="eaLogo" src="{{navLogo}}" alt=""/>
    </a>
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span id="myToogle" class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">        
        <!--<ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
        <ul class="navbar-nav">    
          <spam ng-repeat="nav in naviList">  
            <li ng-show="nav.subm.length===0" class="nav-item">
                <a ng-click="toggleMenu()" class="nav-link active" aria-current="page" 
                   ng-href="{{nav.href}}">{{nav.label}}</a>
            </li>            
            
            <li 
                ng-show="nav.subm.length>0" class="nav-item dropdown">      
                <a class="nav-link dropdown-toggle" 
                   ng-href="{{nav.href}}" 
                   id="{{nav.id}}"                    
                   role="button"                
                  >{{nav.label}}
                </a>                
                <ul class="dropdown-menu">    
                    
                    <spam ng-repeat="submenu in nav.subm"> 
                        
                        <li ng-show="submenu.subm===undefined" >
                            <a ng-click="toggleMenu()" class="dropdown-item" 
                               ng-href="{{submenu.href}}">{{submenu.label}}
                            </a> 
                        </li>
                        
                        <li ng-show="submenu.subm!==undefined" 
                            class="nav-item dropdown"> 

                            <a  class="dropdown-item dropdown-toggle" 
                                
                                ng-href="{{submenu.href}}" 
                                id="{{submenu.id}}" 
                                
                                >{{submenu.label}}
                            </a>                
                           
                            <ul class="dropdown-submenu" >
                                
                                <spam ng-repeat="sb in submenu.subm">
                                    <li ng-show="sb.subm===undefined"
                                        class="nav-item dropdown">
                                        
                                        <a ng-click="toggleMenu()" class="dropdown-item" 
                                            ng-href="{{sb.href}}">{{sb.label}}
                                        </a> 
                                    </li>
                                </spam>
                            </ul>
                        </li>
                    </spam> 
                </ul>                
            </li>
          </spam> 
        </ul>
    </div>
  </div>
</nav>