<div>    
    <ea-provide-obj data-provide-obj="newDeTicket" 
                    data-arr-name="tickets" 
                    ea-de-ticket="myDeTicket">

        <!-- https://www.w3schools.com/howto/howto_js_lightbox.asp 
            Modal window for edit one ticket
        -->        
        <div id="myModalTicket" class="modal">
            <div class="modal-inner text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        &nbsp;<span class="close cursor" 
                              ng-click="closeModalTicket()">&times;</span>
                    </div>

                    <div class="rounded modal-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label for="inputType" class="bold">Type:</label>
                                <select name="inputType"
                                        id="inputType"
                                        class="name-input form-control" 
                                        ng-init="ticket.type || 'd'"
                                        ng-model="ticket.type">
                                    <option value="d">1 day</option>
                                    <option value="w">7 days</option>
                                    <option value="m">30 days</option>
                                    <option value="y">360 days</option>                                    
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label for="inputStartDate" class="bold">Start Date:</label>
                                <input id="inputStartDate"
                                       type="date" 
                                       class="name-input form-control" 
                                       ng-model="ticket.startDate" />                                
                            </div>
                           
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <label for="inputEndDateTime" class="bold">End date:</label>
                                <input id="inputEndDateTime"
                                       type="date" 
                                       readonly="readonly"
                                       class="name-input form-control" 
                                       ng-model="ticket.endDate" />                                
                            </div>
                        </div>                                
                    </div>
                    <div class="modal-footer" style="font-size: 1.6rem;">
                        <button type="button" class="btn btn-success" ng-click="saveModalTicket()">
                            <i class="bi bi-credit-card-2-front" color: white;"
                               data-toggle="tooltip" data-placement="top" title="Pay and save the ticket"></i>
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="closeModalTicket()"
                                data-toggle="tooltip" data-placement="top" title="Discard new ticket">
                            <i class="bi bi-x-square" color: white;"></i>
                        </button>                        
                    </div> 
                    
                    <div ng-show="ticketsSuggestion.length > 0">
                        Which ticket would you like to choose?
                        <div class="row" ng-repeat="ticket in ticketsSuggestion">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                Ticket type: {{ticket.type}}
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                Start date: {{ticket.startDate}}
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                End date: {{ticket.endDate}}
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <button type="button" class="btn btn-success" ng-click="selectModalTicket($index)">
                                    <i class="bi bi-check2-circle" style="font-size: 1.0rem; color: white;"
                                       data-toggle="tooltip" data-placement="top" title="Select ticket"></i>
                                </button>
                            </div>            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Header of ticket view -->
        <div>
            <h2>
Overview of tickets for: {{settings.personalKey}}
            </h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label for="inputToday" class="bold">Simulation today:</label>
                    <div class="eaOneRow">
                        <span class="bi bi-arrow-left-square-fill eaProcButton" 
                              ng-click="demoToday=addDays(demoToday, -1)"
                              data-toggle="tooltip" data-placement="top" title="Subtract one day"></span>
                        <input id="inputToday"
                            type="date" 
                            class="name-input form-control"                             
                            ng-model="demoToday" />
                        <span class="bi bi-arrow-right-square-fill eaProcButton" 
                              ng-click="demoToday=addDays(demoToday, 1)"
                              data-toggle="tooltip" data-placement="top" title="Add one day"></span>   
                    </div>
                </div>   
                <div class="col-lg-3 col-md-6 col-sm-12"></div>
                <div class="col-lg-3 col-md-6 col-sm-12"></div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    
                </div>
            </div>
        </div>        
        
        <hr />
        
        <!-- List of tickets -->
        <div ng-repeat="ticket in objNewArr">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">Ticket type: {{ticket.type}}</div>
                <div class="col-lg-3 col-md-6 col-sm-12">Start date: {{ticket.startDate}}</div>
                <div class="col-lg-3 col-md-6 col-sm-12">End date: {{ticket.endDate}}</div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    price: {{ticket.price}} €
                    <span ng-show="isPaid($index)">
                        <i class="bi bi-credit-card-2-front" ng-click="openModalTicket($index)" 
                           style="font-size: 1.0rem; color: green;"
                           data-toggle="tooltip" data-placement="top" title="ticket has been paid for"></i>
                    </span>
                    <span ng-show="isEdit(ticket.startDate)">
                        <i class="bi bi-pencil-fill" ng-click="openModalTicket($index)" 
                           style="font-size: 1.0rem; color: green;"
                           data-toggle="tooltip" data-placement="top" title="Edit the tickjet"></i>
                        <i class="bi bi-trash3-fill" ng-click="deleteObjRow($index)" 
                           style="font-size: 1.0rem; color: red;"
                           data-toggle="tooltip" data-placement="top" title="Delete the tickjet"></i>                        
                    </span>
                </div>
            </div>                    
            <hr />

        </div>
        <button type="button" class="btn btn-success" ng-click="addObjRow()">
            <i class="bi bi-plus-lg" style="font-size: 1.6rem; color: white;"
               data-toggle="tooltip" data-placement="top" title="Add a new tickjet"></i>
        </button>
        <button type="button" class="btn btn-success" ng-click="saveObj()">
            <i class="bi bi-save" style="font-size: 1.6rem; color: white;"
               data-toggle="tooltip" data-placement="top" title="Save all changes"></i>
        </button>
    </ea-provide-obj>            
</div>