<div>
    <div class="eaContent">
        <div ng-repeat="n in newsList">
            <div ng-show="!isNew(n);" >
                
                <h3>{{n.title}}</h3>                
                <div class="eaLinkPath">{{n.newFrom}}</div>                
                
                <div ng-show='n.body.length > 0 && n.img.length > 0' >
                    <div ng-repeat="nn in n.body">
                        <div class="row">
                            <div class="col-lg-6">
                                <!--<img 
                                    class="img-fluid img-thumbnail"
                                    ng-src="{{n.img[$index]}}" alt="{{n.imgBody[$index]}}"
                                    /> -->
                                
                                <div ea-img  
                                     data-img="{{n.img[$index]}}" 
                                     data-alt="{{n.imgBody[$index]}}"></div>
                                
                                <div class="eaImgBody">
                                    {{n.imgBody[$index]}}
                                </div>                        
                            </div>    
                            <div class="col-lg-6">
                                {{nn}}
                            </div>
                        </div>
                    </div>
                </div>                
                
                <div ng-show='n.body.length === 0 && n.img.length > 0' >
                    <div ng-repeat="p in n.img">
                        <!--<img 
                            class="img-fluid img-thumbnail"
                            ng-src="{{p}}" alt="{{n.imgBody[$index]}}"
                            /> -->
                        
                        <div ea-img  
                             data-img="{{p}}" 
                             data-alt="{{n.imgBody[$index]}}"></div>
                        
                        <div class="eaImgBody">
                            {{n.imgBody[$index]}}
                        </div>  
                    </div>
                </div>                
                
                <div ng-show='n.body.length !== 0 && n.img.length === 0'>
                    <div ng-repeat="b in n.body">
                        {{b}}
                    </div>
                </div>                    
                
                <div ng-show="n.href !== ''" >
                    <br />
                    <div ea-add-html={{n.href}}></div> 
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>